/**
 * Header.css
 *
 * for <Header />
 */

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}


@media(--mobile) {
  .Header {
    padding: 40px 10px;
  }
}
