/**
 * Work.css
 *
 * for <Work />
 */

.Work {
  padding: var(--spacer) 0;
  display: flex;
  flex-wrap: wrap;
}

.Work__item {
  width: 50%;
}

.Work__icon {
  width: 58px;
  height: 58px;
  position: relative;
  display: block;
}

.Work__item > a {
  position: relative;
  display: flex;
  padding: 20px;
  transition: all 0.2s ease;
  align-items: center;
  color: var(--text-color);
}

.Work__name {
  position: relative;
}

.Work__role {
  color: rgba(255,255,255,0.4);
  position: relative;
}

.Work__role:before {
  content: "—";
  position: relative;
  margin: 0 5px;
}

.Work__item__content {
  padding-left: 20px;
  flex: 1;
}

.Work__item__title {
  color: var(--white);
  line-height: 1.3;
}
.Work__item__role {
  line-height: 1.3;
}

.Work__view {
  display: inline-block;
  font-size: 12px;
  vertical-align: baseline;
  padding-top: 5px;
  transition: all 0.2s ease;
  position: relative;
}

.Work__view:after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--text-color);
  position: absolute;
  top: calc(100%);
  left: 0;
}

@media(--mobileplus) {
  .Work__item > a[href]:hover {
    background: #17191D;
  }

  .Work__item > a:hover .Work__view {
    color: var(--white);
  }

  .Work__item > a:hover .Work__view:before {
    content: ">";
    display: inline-block;
    vertical-align: top;
    color: inherit;
    margin-right: 6px;
  }
}

@media(--mobile) {

  .Work {
    padding: 50px 0;
  }

  .Work__icon {
    align-self: flex-start;
    margin-left: 10px;
  }

  .Work__item:not(:last-child) {
    margin-bottom: var(--spacer);
  }

  .Work__item > a {
    width: calc(100% + 20px);
    margin-left: -10px;
    padding: 10px 0;
  }

}

@media(--tablet) {

  .Work {
    flex-direction: column;
  }

  .Work__item {
    width: 100%;
  }

}
