<!DOCTYPE html>
<html lang="en" class="home-page no-overflow">
<head>

  {% include partials/meta.html %}

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Average' rel='stylesheet' type='text/css'>

  <!-- Styles -->
  <link rel="stylesheet" href="assets/css/site.min.css" />

</head>
<body>

  {% include partials/nav.html %}

  {{ content }}

  <script src="assets/js/ga.js"></script>
  <script>
    var img = new Image();
    img.onload = function() {
      setTimeout(function() {
        document.body.className += 'bg-load';
      }, 300);
      img.parentNode.removeChild(img);
    };
    img.src = window.location.origin + '/assets/img/homebgtop.jpg';
  </script>
</body>
</html>
